* {
    padding: 0;
    margin: 0;
}
.navcontainer {
    display: flex;
    align-items: center;
}
.navbar {   

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #cccccc;
    padding: 15px;
    margin-left: 250px;
    width: 60%;

}



.searchbar {
    
    width: 250px;
}

#log {
    background-color: #2b78e4;
    height: 30px;
    width: 60px;
    color: white;

}
.container {
    display: flex;
    padding: 0px;
    margin-left: 90px;
}

.ninja_definition {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.definition {
    border: solid black;
    height: 180px;
    width: 365px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add {
    height: 40px;
    width: 150px;
    margin: 30px;
    background-color: #93c47d;
    font-weight: bold;
}

.card1 {
    display: flex;
    border: solid black;
    height: 250px;
    width: 750px;
    margin: 20px 0px 20px 160px;
}

.leftside {
    width: 170px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    
}


.like {

    background-color: #ffd966;
    color: black;
    height: 30px;
    width: 100px;
    margin-left: 40px;
}



.card2 {
    display: flex;
    border: solid black;
    height: 250px;
    width: 750px;
    margin: 20px 0px 20px 250px;
}
.logo {
    
}